{% extends 'website/base.html' %}

{% block content %}

 <!-- Hero Start -->
 <div class="container-fluid pt-5" style="background-color: orangered">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4 animated slideInRight">About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row g-5 align-items-center">

            <div class="col-10 mx-auto wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-orangered px-4 mt-2 mb-5">About Us</div>
                <div class="text-justify">
                    <h1 class="mb-10 text-center">We Make Your Business Smarter with Virtual Buddy</h1>
                    <p class="pt-5"><b>Welcome to Pratima.AI</b>, where we harness the power of artificial intelligence to create innovative solutions for a better future.</p>
                    <p>Our mission is to revolutionize the way businesses and individuals interact and communicate through our advanced video chat bot technology.</p>
                    <p>At Pratima.AI, we believe that personalized and immersive experiences are the key to unlocking the full potential of virtual communication.</p>
                    <p>With our customizable video chat bot, we are committed to transforming the way you engage with your clients, customers, and colleagues.</p>
                    <p>Our team of dedicated experts combines their deep knowledge of artificial intelligence, machine learning, and natural language processing to create a cutting-edge solution that seamlessly integrates custom image and voice capabilities.</p>
                    <p>This unique combination allows you to truly express your identity and brand while fostering a sense of connection and familiarity during video calls.</p>
                    <p>With our Virtual Buddy, you can enhance customer interactions, streamline business processes, and provide a personalized touch to every conversation. Whether you're in e-commerce, healthcare, education, finance, or any other industry, our customizable platform offers tailored solutions to meet your specific needs and challenges.</p>
                    <p>We prioritize privacy and security, ensuring that all data exchanged during video calls is encrypted and handled in compliance with the highest industry standards. Your information is safe with us, allowing you to focus on what matters most – building meaningful connections and achieving your business goals.</p>
                    <p>Join us on this exciting journey as we redefine how people connect and communicate in the digital age. Discover the power of Pratima.AI and unlock a new level of engagement, efficiency, and personalization in your virtual interactions.</p>
                    <p>Contact us today to learn more about how Pratima.AI can transform your business communication experience. Let's shape the future together!</p>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock content %}
