{% extends 'website/base.html' %}


{% block content %}

 <!-- Hero Start -->
 <div class="container-fluid pt-5  " style="background-color:orangered">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4 animated slideInRight">Our Products</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<h1 class="col-lg-12 align-self-end text-center pt-3 pb-3 bg-dark text-white">Some Of Our Products For businesses</h1>

<!-- Service Start -->
<div class="col-md-8 container-fluid bg-orangered mt-5 py-5">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fa fa-video fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">Virtual Buddy(Video Bot)</h5>
                <p> Buddy is created using the Audio/Voice and Video of a real person or a 3D avatar to make the user believe that they are talking to a real person in real time.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'virtualbuddy' %}">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fa fa-microphone fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">Customizable Audio/Voice Bot</h5>
                <p>Introducing our cutting-edge voice bot, designed to revolutionize your online interactions. With our customizable voice bot, you can now have your answers delivered in the voice of your choice. Gone are the days of monotonous and robotic responses – our voice bot brings a personal touch to every conversation.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'voicebot' %}">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fa fa-comment fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">Text Bot </h5>
                <p>Introducing our innovative text bot, redefining the way you interact with technology. Our customizable text bot brings a unique and personalized touch to every conversation, ensuring a seamless and engaging user experience.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'textbot' %}">Read More</a>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fa fa-mail-bulk fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">Email Bot</h5>
                <p>Introducing our revolutionary email bot, transforming the way you manage and interact with your inbox. Our customizable email bot brings a new level of efficiency and convenience to your email communication.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'emailbot' %}">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fa fa-sms fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">SMS Bot</h5>
                <p>Introducing our innovative SMS bot, revolutionizing the way you communicate and engage with your customers through text messages. Our customizable SMS bot offers a seamless and interactive experience, enhancing your customer interactions and streamlining your communication processes.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'smsbot' %}">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fab fa-whatsapp fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">WhatsApp Bot</h5>
                <p>Introducing our groundbreaking WhatsApp bot, revolutionizing the way you engage and interact with your customers on the popular messaging platform. Our customizable WhatsApp bot offers a seamless and personalized experience, transforming your customer communication and streamlining your processes.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'whatsappbot' %}">Read More</a>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fab fa-telegram-plane fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">Telegram Bot</h5>
                <p>Introducing our cutting-edge Telegram bot, revolutionizing the way you connect and engage with your audience on the popular messaging platform. Our customizable Telegram bot offers a seamless and interactive experience, empowering you to enhance communication and streamline processes.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'telegrambot' %}">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fab fa-instagram fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">Social Media Bot</h5>
                <p>Introducing our game-changing social media bot, transforming the way you engage and interact with your audience across various social platforms. Our customizable social media bot offers a seamless and dynamic experience, revolutionizing your social media presence and enhancing your communication strategy.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'socialmediabot' %}">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon btn-square">
                    <i class="fa fa-newspaper fa-2x" style="color: orangered;"></i>
                </div>
                <h5 class="mb-3" style="color: orangered;">News Bot</h5>
                <p>
                    Introducing our cutting-edge news bot, your go-to source for timely and personalized news updates. Our customizable news bot delivers the latest headlines, breaking news, and tailored content right at your fingertips, keeping you informed and engaged.</p>
                <a class="btn px-3 mt-auto mx-auto" style="color: orangered;" href="{% url 'newsbot' %}">Read More</a>
            </div>
        </div>
    </div>
    
</div>



  


{% endblock content %}