{% extends 'website/base.html' %}

{% block content %}


 <!-- Hero Start -->
 <div class="container-fluid pt-5 "style="background-color:orangered">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4 animated slideInRight">Terms And Conditions</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<div class="container-fluid bg-light  py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-10 mx-auto wow fadeIn" data-wow-delay="0.5s">
                <div class="text-justify">
                    <p class="pt-5"><b>Welcome to Pratima.AI</b>,These Terms and Conditions govern your use of our website and services. By accessing or using our website, you agree to comply with these terms. Please read them carefully.</p>
                    <p><b>Use of Services:</b></p>
                    <p>You agree not to reproduce, distribute, modify, or create derivative works of our website or services without our prior written consent.</p>
                    <p>You must not use our services for any illegal or unauthorized purpose. You are responsible for complying with all applicable laws and regulations.</p>
                    <p><b>Intellectual Property:</b></p>
                    <p>Pratima.AI retains all intellectual property rights related to our website, services, and any associated content (including but not limited to text, graphics, logos, and images).</p>
                    <p>You may not use our intellectual property without our express written permission.</p>
                    <p><b>User Content:</b></p>
                    <p>You are solely responsible for the content you submit and must ensure that it does not infringe upon the rights of any third party.</p>
                    <p>By submitting any content (such as comments, feedback, or suggestions) to Pratima.AI, you grant us a non-exclusive, royalty-free, worldwide, perpetual license to use, reproduce, modify, adapt, publish, and distribute such content for any purpose.</p>
                    <p><b>Modifications:</b></p>
                    <p>Pratima.AI reserves the right to modify or discontinue our website or services at any time without notice.</p>
                    <p>We may update these Terms and Conditions from time to time. The updated terms will be effective upon posting on our website. Your continued use of our website after any modifications constitutes your acceptance of the revised terms.</p>
                    <p><b>Governing Law:</b></p>
                    <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of [Jurisdiction], without regard to its conflict of law provisions.</p>
                    <p><b>Severability:</b></p>
                    <p>If any provision of these Terms and Conditions is deemed invalid or unenforceable, the remaining provisions shall remain in full force and effect.</p>
                    <p><b>Contact Us:</b></p>
                    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us at </p>
                    <a href="{% url 'contact' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Contact Us</a>
                    

    
                    
                </div>
            </div> 
            
        </div>
    </div>
</div>


{% endblock content %}